$d:10px;

// Center all images
img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

body{
	font-family: Oxygen, Lora, sans-serif;
	font-size: 16px;
	font-variant: small-caps;
	background: url('../imgs/bg.png');
	box-sizing: border-box;

	#margins{
		width: 90%;
		margin-left: 5%;
		height: 95%;
		margin-top: 2.5%;
		background: rgba(255,255,255,0.7);

		#top_nav{
			.logo{
				height:80px;
				padding:2*$d;
			}

			.buttons{
			
				font-size: 0.8em;
				a {
					text-decoration:none;
					padding-left: $d;
				}

				a:hover{
					background:url('../imgs/bg_menu_active.png');
				}
			}

			#bt1 a{
				background-color: #d7d7d7;
				color: black;
			}
			#bt2 a{
				background-color: #c7c7c7;
				color: black;
			}
			#bt3 a{
				background-color: #333;
				color: white;
			}
		}

		#banner{
			box-shadow: 5px 5px 5px grey;
			background-color: white;
			padding: $d;
			margin-left: $d;
			margin-right: $d;
		}
		#new_products{
			margin:30px 10px 20px 0px;
			div img{
				margin-left: 0;
			}
		}
		#products{
			.detail{
				.detail_content{
					height: 250px;
					box-shadow: 5px 5px 5px grey;
					background-color: white;
					.detail_text{
						padding: $d;
						text-align:center;
					}
				}
				.img_detail{
					float:right;
					position:relative;
					top:-35px;
					left: 0px;
				}
			}
		}
	}

	#detail{
		padding: 2*$d;
	
		.modal-content{
			padding: 2*$d;
			.close{
				position: relative;
				top:0px;
				left:10px;
			}
			.purchase_detail_text{
				text-align:center; 
			}
			.purchase_price{
				margin-left: 260px;
				color: #ff4da6;
			}
			#amount{
				margin-left: 140px;
				width:80px;
			}
			.buy{
				width:200px;
				color:white;
				background-color: black;
			}
		}
		#img_purchase_new{
			float: right;
			position: relative;
			top:-165px;
			right: 27px;
		}
	}
}

@media (min-width: 768px){
	#top_nav{
		#logo_img{
			height: 50px;
			background:url('../imgs/logo_akemi.png') no-repeat;
			background-size: contain;
			background-position: left center;
		}

		.icon{
			display: none;
		}
		.buttons {
			margin-top:10px;
			padding:0;
			a{
				display: block;
			}
		}
	}

	.row{
		display: block;
	}
}

@media (max-width: 767px){
	#top_nav{
		#logo_img{
			height: 50px;
			background:url('../imgs/logo_akemi_xs.png') no-repeat;
			background-size: contain;
			background-position: left center;
		}

		.icon{

			    display: block;
			    font-size: 2em;
			    width: 60px;
			    text-align: center;
			    margin: 5px 0px 0px 0px;
			    color: #e6e6e6;
			    background-color:white;
			    -webkit-border-radius: 5px;
			    -moz-border-radius: 5px;
			    border-radius: 5px;
			    position:relative;
			    top: 0;
			    left:15px;
			
			 i.fa.fa-bars {
			    height: 45px;
			    width: 45px;
			  }
		}
	}

	#top_nav.row{
		.buttons a {
			display: none;
		}
	}

	#top_nav.responsive{
		.buttons {
			padding: 0px 15px;
			margin-top: 0px;
			a {
				line-height: 35px;
				display: block;
			}
		}
	}

	.row{
		display:block;
	}

	#banner.row.responsive{
		display: none;
	}
	#new_products.row.responsive{
		display: none;
	}


}
